*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: hsl(226, 43%, 10%);
    font-family: "Barlow Semi Condensed", sans-serif;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.container {
 display: grid;
 gap: 15px;
}

.container-jeremy{
    display: flex;
    flex-direction:column;
    background-color: hsl(235, 46%, 20%);
    width: 100%;
    border-radius: 18px;
}
.blue{
    background-color: hsl(246, 80%, 60%);
    display: flex;
    gap: 10px;
    padding: 18px;
    border-radius: 18px;
}

.image-jeremy{
    border-radius: 60px;
    height: 4rem;
    width: 4rem;
    border: 2px solid white;
}


.details{
    display: flex;
    flex-direction: column;
}

.text-first {
    font-size: 15px;
    font-weight: 300px;
    color:rgb(230, 227, 227);

}
.name{
    font-size: 23px;
    font-weight: 400px;
    color: white;
}
.month{
    background-color: hsl(235, 46%, 20%);
    color: hsl(246, 14%, 44%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 15px;
    height: 2rem;
    border-radius : 12px;
}

.middle{
    color: white;
}
.track{
    display: flex;
   flex-direction: column;
   border-radius: 18px;
}
.container-work{
    background-color: hsl(15, 100%, 70%);
}
.orange{
    background-image: url(./images/icon-work.svg);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: top right 20px;
    height: 2rem;
    height: 2rem;
}
.title{
    color: white;
    font-size: 16px;
}

.time{
    color: white;
    font-size: 28px;
}
.text{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.more-info{
    height: 5px;
}

.left-text{
    color: hsl(240, 1%, 66%);
     display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 18px;
    padding: 28px;
    background-color: hsl(235, 46%, 20%); 
}

.container-play{
    background-color: hsl(195, 74%, 62%);
}



.soft-blue{
    background-image: url(./images/icon-play.svg);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: top right 20px;
    height: 2rem;
    height: 2rem;
}

.container-study{
    background-color: hsl(348, 100%, 68%);
}

.pink{
    background-image: url(./images/icon-study.svg);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: top right 20px;
    height: 2rem;
    height: 2rem;
}

.container-exercise{
    background-color: hsl(145, 58%, 55%);
}

.green{
    background-image: url(./images/icon-exercise.svg);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: top right 20px;
    height: 2rem;
   
}

.container-social{
    background-color: hsl(264, 64%, 52%);

}
.purple{
    background-image: url(./images/icon-social.svg);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: top right 20px;
    height: 2rem;
  
}

.container-selfcare{
 background-color: hsl(43, 84%, 65%);
}

.yellow{
    background-image: url(./images/icon-self-care.svg);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: top right 20px;
    height: 2rem;
    height: 2rem;
}

@media only screen and (min-width: 426px) {


.container {
        grid-template-columns: repeat(2, 1fr);
}
.container-jeremy{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
    
}

@media only screen and (min-width: 769px){

body{
    justify-content: center;
    justify-items: center;
}
.container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(2,auto);
    height: 26rem;
    width: 58rem;
    margin-top: 5rem;
}
.container-jeremy{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.image-jeremy{
    width: 6rem;
    height: 6rem;
}
.blue{
   flex-direction: column;
   padding-top: 20px;
   padding-bottom: 55px;
   padding-left: 20px;
   padding-right: 20px;
   height: 18rem;
}
.month{
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
   padding: 10px;
}

.name{
    font-size: 40px;
}
.text-first{
    font-size: 20px;
}
.month{

    font-size: 20px;
    padding: 12px;
    gap: 20px;
    justify-content: space-between;
}
.title{
    font-size: 20px;
}

.time{
    font-size: 50px;
}
.left-text{
    flex-direction: column;
}
.content{
padding: 40px;

}

}